.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  img {
    width: 900px;
  }

  .authWrapper {
    border: solid 4px #44cccc;
    border-radius: 25px;
    background-color: #fafbfb;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.671),
      -2px -2px 10px rgba(0, 0, 0, 0.514);
    height: 50%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    .authForm {
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 100%;
      justify-content: space-around;
      align-items: center;
      .authFormInput {
        margin: 10px;
        display: flex;
        flex-direction: column;
        input {
          width: 500px;
          padding: 15px;
          border-radius: 25px;
          padding-left: 20px;
          font-size: 20px;
          &:focus {
            outline: none;
            background-color: #fffff3;
          }
        }

        label {
          font-size: 25px;
          margin-bottom: 15px;
        }
      }

      .authSubmit {
        padding: 10px 15px;
        font-size: 28px;
        margin: 5px 0;
        border: none;
        background-color: #44cccc;
        color: white;
        font-family: sans-serif;
        border-radius: 15px;
        cursor: pointer;

        &:focus {
          outline: none;
        }

        &:active {
          transform: scale(0.98);
        }
      }

      .authToggleQuery {
        font-size: 20px;

        #loginToggle {
          cursor: pointer;
          color: #44cccc;
          font-size: 22px;
        }
      }
    }
  }
}

@media (max-width: 1030px) {
  .container {
    flex-direction: column;
    overflow: hidden;

    img {
      width: 300px;
      position: absolute;
      top: -60px;
      z-index: -1;
    }
    .authWrapper {
      width: 90%;
      height: 60%;

      .authForm {
        width: 100%;
        justify-content: space-evenly;

        .authFormInput {
          input {
            width: 550px;
            padding: 5px;
            font-size: 24px;
          }

          label {
            font-size: 22px;
          }
        }

        .authSubmit {
          padding: 5px 10px;
          font-size: 32px;
        }

        .authToggleQuery {
          font-size: 22px;

          #loginToggle {
            cursor: pointer;
            color: #44cccc;
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    overflow: hidden;

    img {
      width: 300px;
      position: absolute;
      top: -60px;
      z-index: -1;
    }
    .authWrapper {
      width: 90%;
      height: 60%;

      .authForm {
        width: 100%;
        justify-content: space-evenly;

        .authFormInput {
          input {
            width: 250px;
            padding: 5px;
            font-size: 12px;
          }

          label {
            font-size: 12px;
          }
        }

        .authSubmit {
          padding: 5px 10px;
          font-size: 20px;
        }

        .authToggleQuery {
          font-size: 16px;

          #loginToggle {
            cursor: pointer;
            color: #44cccc;
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media (max-width: 361px) {
  .container {
    flex-direction: column;
    overflow: hidden;

    img {
      width: 300px;
      position: absolute;
      top: -60px;
      z-index: -1;
    }
    .authWrapper {
      width: 90%;
      height: 65%;
      margin-top: 110px;

      .authForm {
        width: 100%;
        justify-content: space-evenly;

        .authFormInput {
          input {
            width: 250px;
            padding: 5px;
            font-size: 12px;
          }

          label {
            font-size: 12px;
            margin-bottom: 8px;
          }
        }

        .authSubmit {
          padding: 5px 10px;
          font-size: 20px;
        }

        .authToggleQuery {
          font-size: 16px;

          #loginToggle {
            cursor: pointer;
            color: #44cccc;
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media (max-width: 321px) {
  .container {
    flex-direction: column;
    overflow: hidden;

    img {
      width: 300px;
      position: absolute;
      top: -60px;
      z-index: -1;
    }
    .authWrapper {
      width: 90%;
      height: 65%;
      margin-top: 110px;

      .authForm {
        width: 100%;
        justify-content: space-evenly;

        .authFormInput {
          input {
            width: 250px;
            padding: 5px;
            font-size: 12px;
          }

          label {
            font-size: 12px;
          }
        }

        .authSubmit {
          padding: 5px 10px;
          font-size: 16px;
        }

        .authToggleQuery {
          font-size: 12px;

          #loginToggle {
            cursor: pointer;
            color: #44cccc;
            font-size: 18px;
          }
        }
      }
    }
  }
}
